<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="listing-item ">
    <article class="TravelGo-category-listing fl-wrap">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="TravelGo-category-img TravelGo-category-list-img"> <a
              href="hotel-detailed.html"><img src="images/hotels/room8.jpg" alt=""></a>
            <div class="TravelGo-category-opt">
              <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><i
                  class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i><i class="fa fa-star"></i></div>
              <div class="rate-class-name">
                <div class="score"><strong>Very Good</strong>27 Reviews </div>
                <span>5.0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
          <div class="TravelGo-category-content fl-wrap title-sin_item">
            <div class="TravelGo-category-content-title fl-wrap">
              <div class="TravelGo-category-content-title-item">
                <h3 class="title-sin_map"><a href="hotel-detailed.html">Asia &amp; African Hotels</a></h3>
                <div class="TravelGo-category-location fl-wrap"><a href="#" class="map-item"><i
                      class="fas fa-map-marker-alt"></i> 27th Brooklyn New York, USA</a> <span>$
                    200</span> </div>
              </div>
            </div>
            <p>Sed interdum metus at nisi tempor laoreet Integer.</p>
            <ul class="facilities-list fl-wrap">
              <li><i class="fas fa-wifi"></i><span>Free WiFi</span></li>
              <li><i class="fas fa-parking"></i><span>Parking</span></li>
              <li><i class="fas fa-smoking-ban"></i><span>Non-smoking Rooms</span></li>
              <li><i class="fas fa-utensils"></i><span> Restaurant</span></li>
            </ul>
            <div class="TravelGo-category-footer fl-wrap">
              <div class="TravelGo-category-price btn-grad"><span>2 days 3 nights</span></div>
              <div class="TravelGo-opt-list"> <a href="#" class="single-map-item"><i
                    class="fas fa-map-marker-alt"></i><span class="TravelGo-opt-tooltip">On the
                    map</span></a> <a href="#" class="TravelGo-js-favorite"><i
                    class="fas fa-heart"></i><span class="TravelGo-opt-tooltip">Save</span></a> <a
                  href="#" class="TravelGo-js-booking"><i class="fas fa-retweet"></i><span
                    class="TravelGo-opt-tooltip">Find Directions</span></a> </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>