<%= render 'layouts/navbar' %>


<div class="banner">
  <div class="mx-auto">
    <h1><%= @company.name %></h1>
    <h2>Manage Stall</h2>
  </div>
</div>

  <% end %>
  <hr>
  <%= render 'form' %>
  <hr>
</div>