<!-- =======================
	feature box -->
<section class="pt80 pb80">
	<div class="container">

		<!-- style 2 -->
		<div class="row">
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad" style="background-color: #007bff;">
					<a class="mt-3" href="<%= profile_edit_path %>">
					<div class="feature-box-icon"><i class="fa fa-user-circle"></i></div>
					<h3 class="feature-box-title">Personal details and contact information.</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad" style="background-color: #28a745;">
					<a class="mt-3" href="<%= my_listing_path %>">
					<div class="feature-box-icon"><i class="fa fa-home"></i></div>
					<h3 class="feature-box-title">Add one or more Listings here...</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad" style="background-color: #007bff;">
					<a class="mt-3" href="#">
					<div class="feature-box-icon"><i class="fa fa-lock"></i></div>
					<h3 class="feature-box-title">Login and Security</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- style 1 end -->
		<div class="row">
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad">
					<a class="mt-3" href="#">
					<div class="feature-box-icon"><i class="fa fa-envelope"></i></div>
					<h3 class="feature-box-title">Notifications</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad">
					<a class="mt-3" href="#">
					<div class="feature-box-icon"><i class="fa fa-eye"></i></div>
					<h3 class="feature-box-title">Privacy & sharing</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad">
					<a class="mt-3" href="#">
					<div class="feature-box-icon"><i class="fas fa-globe"></i></div>
					<h3 class="feature-box-title">Global Preferences</h3>
					</a>
				</div>
			</div>
		</div>
		<!-- style 1 end -->
	
	<div class="container"></div>
		<!-- style 2 -->
		<div class="row">
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad">
					<a class="mt-3" href="#">
					<div class="feature-box-icon"><i class="fas fa-route"></i></div>
					<h3 class="feature-box-title">Travel for work</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad">
					<a class="mt-3" href="#">
					<div class="feature-box-icon"><i class="fa fa-toolbox"></i></div>
					<h3 class="feature-box-title">Professional Hosting tools</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 mt-30">
				<div class="feature-box f-style-2 h-100 icon-grad">
					<a class="mt-3" href="#">
					<div class="feature-box-icon"><i class="fas fa-bullhorn"></i></div>
					<h3 class="feature-box-title">Invite Friends</h3>
					</a>
				</div>
			</div>
		</div>
		<!-- style 1 end -->
	</div>
</section>
<!-- =======================
	feature box -->