<%= render "layouts/banner_interpage" %>
<section class="pt80 pb80 booking-section login-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="listing-item ">
          <article class="TravelGo-category-listing fl-wrap">
            <div class="TravelGo-category-img"> <a href="hotel-detailed.html"><img src="images/hotels/room8.jpg" alt=""></a>
              <div class="TravelGo-category-opt">
                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <div class="rate-class-name">
                  <div class="score"><strong>Very Good</strong>27 Reviews </div>
                  <span>5.0</span> </div>
              </div>
            </div>
            <div class="TravelGo-category-content fl-wrap title-sin_item">
              <div class="TravelGo-category-content-title fl-wrap">
                <div class="TravelGo-category-content-title-item">
                  <h3 class="title-sin_map"><a href="hotel-detailed.html">Asia & African Cruise</a></h3>
                  <div class="TravelGo-category-location fl-wrap"><a href="#" class="map-item"><i class="fas fa-map-marker-alt"></i> 27th Brooklyn New York, USA</a> <span>$ 200</span> </div>
                </div>
              </div>
              <p>Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
              <ul class="facilities-list fl-wrap">
                <li><i class="fas fa-wifi"></i><span>Free WiFi</span></li>
                <li><i class="fas fa-parking"></i><span>Parking</span></li>
                <li><i class="fas fa-smoking-ban"></i><span>Non-smoking Rooms</span></li>
                <li><i class="fas fa-utensils"></i><span> Restaurant</span></li>
              </ul>
              <div class="TravelGo-category-footer fl-wrap">
                <div class="TravelGo-category-price btn-grad"><span>Edit</span></div>
              </div>
              <div class="TravelGo-category-content-title-item others-details">
                <h3 class="title-sin_map"><a href="hotel-detailed.html">Others Details</a></h3>
              </div>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td class="bookex">ROOM TYPE:</td>
                    <td>Delux</td>
                  </tr>
                  <tr>
                    <td class="bookex">FOOD & DINING:</td>
                    <td>$200</td>
                  </tr>
                  <tr>
                    <td class="bookex">CRUISE PRICE:</td>
                    <td>$300</td>
                  </tr>
                  <tr>
                    <td class="bookex">TAXES:</td>
                    <td>$300</td>
                  </tr>
                  <tr>
                    <td class="bookex"><strong>Total:</strong></td>
                    <td><strong>$1200</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
        </div>
        <div class="listing-item">
          <article class="TravelGo-category-listing fl-wrap">
            <div class="TravelGo-category-content fl-wrap title-sin_item">
              <div class="TravelGo-category-content-title fl-wrap NeedHelp">
                <div class="TravelGo-category-content-title-item">
                  <h3 class="title-sin_map"><a href="hotel-detailed.html">Need Help?</a></h3>
                  <div class="TravelGo-category-location fl-wrap"></div>
                </div>
              </div>
              <div class="NeedhelpSection">
                <P>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</P>
                <ul>
                  <li><span><i class="fas fa-phone-volume"></i></span> +921 215 2154 214</li>
                  <li><span><i class="far fa-envelope"></i></span> Info@travelGo.com</li>
                  <li><span><i class="fab fa-skype"></i> </span> TravelG@Skype</li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="login-box Booking-box">
              <div class="login-top">
                <h3>Your Personal Information</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
