<div class="dropdown"> <a class="dropdown-toggle" href="#" role="button" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user mr-2"></i>Account </a>
  <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownAccount"> 
    <a class="dropdown-item" ><%= link_to 'Log In', user_session_path(@event) %></a> 
    <a class="dropdown-item" ><%= link_to 'Register', new_user_registration_path(@event) %></a> 
    <a class="dropdown-item" ><%= link_to 'Settings', new_user_registration_path(@event) %></a> </div>
</div>