<section class="p-5 height-500 parallax-bg tourBanner"
  style='background:url(<%= @banner&.attached? ? url_for(@banner) :  url_for(asset_url("11.jpg")) %> );'>
  <div class="container h-100">
    <div class="row justify-content-between align-items-center h-100">
      <div class="col-md-8 mb-7">
        <h4>Lorem ipsum dolor sit amet</h4>
        <h1 class="display-4 font-weight-bold">Sed ut perspiciatis unde omnis </h1>
      </div>
    </div>
  </div>
</section>