<!-- =======================
	Banner innerpage -->
  <div class="innerpage-banner left bg-overlay-dark-7 py-7" style="background:url(images/07.jpg) repeat; background-size:cover;">
    <div class="container">
      <div class="row all-text-white">
        <div class="col-md-12 align-self-center">
          <h1 class="innerpage-title">Hotel Booking</h1>
          <h6 class="subtitle">Fusce iaculis ex sed nulla commodo imperdiet. Proin sed rhoncus ligula.</h6>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active"><a href="index.html"><i class="ti-home"></i> Home</a></li>
              <li class="breadcrumb-item">Hotel Booking</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- =======================
    Banner innerpage -->