
<!-- Logo Nav Start -->
<nav class="navbar navbar-expand-lg">
  <div class="container text-align: center;" >
    <!-- Logo -->
    <a class="navbar-brand" href="<%= root_url %>">
      <%= image_tag @logo.variant(resize_to_fit: [450, 80]), alt: MainSetting.website_title %>
    </a>

    <!-- Menu opener button -->
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
        class="navbar-toggler-icon"> </span> </button>
    <!-- Main Menu Start -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <!-- Menu item 1 Demos-->
        <li class="nav-item active"> <a class="nav-link" href="#" id="demosMenu"
             aria-haspopup="true" aria-expanded="false">Home</a>
          
        </li>
        <li class="nav-item"> <a class="nav-link" href="#" id="docMenu"
            aria-haspopup="true" aria-expanded="false">Hotels</a>
         
        </li>
        <li class="nav-item"> <a class="nav-link" href="#" id="docMenu" 
            aria-haspopup="true" aria-expanded="false">Flights</a>
          
        </li>
        <li class="nav-item"> <a class="nav-link" href="#" id="docMenu"
            aria-haspopup="true" aria-expanded="false">Cars</a>
         
        </li>
        <li class="nav-item"> <a class="nav-link" href="#" id="docMenu"
            aria-haspopup="true" aria-expanded="false">Cruises</a>
         
        </li>
        <li class="nav-item"> <a class="nav-link" href="#" id="docMenu"
            aria-haspopup="true" aria-expanded="false">Tour</a>
         
        </li>

        <!-- Menu item 5 Elements-->
        <li class="nav-item dropdown megamenu"> <a class="nav-link dropdown-toggle" href="#" id="elementsMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
          <div class="dropdown-menu" aria-labelledby="elementsMenu">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li><a class="dropdown-item" href="pages-aboutus1.html">About Us</a></li>
                    <li><a class="dropdown-item" href="pages-services1.html">Services</a></li>
                    <li><a class="dropdown-item" href="pages-photogallery-4column.html">Gallery 4 Column</a></li>
                    <li><a class="dropdown-item" href="pages-photogallery-3column.html">Gallery 3 Column</a></li>
                    <li><a class="dropdown-item" href="pages-photogallery-2column.html">Gallery 2 Column</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li><a class="dropdown-item" href="pages-faq1.html">Faq 1</a></li>
                    <li><a class="dropdown-item" href="pages-404-1.html">404 Page</a></li>
                    <li><a class="dropdown-item" href="pages-coming-soon1.html">Coming Soon</a></li>
                    <li><a class="dropdown-item" href="pages-login1.html">Login </a></li>
                    <li><a class="dropdown-item" href="pages-register.html">Registration </a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li><a class="dropdown-item" href="pages-layouts-twosidebar.html">Layouts Two Sidebar</a></li>
                    <li><a class="dropdown-item" href="pages-layouts-fullwidth.html">Layouts Full Width</a></li>
                    <li><a class="dropdown-item" href="">Contact Us</a></li>
                    <li><a class="dropdown-item" href="pages-travelo-policies.html">Policies</a></li>
                    <li><a class="dropdown-item" href="pages-sitemap.html">Site Map</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li><a class="dropdown-item" href="pages-blog-rightsidebar.html">Blog Right Sidebar</a></li>
                    <li><a class="dropdown-item" href="pages-blog-leftsidebar.html">Blog Left Sidebar</a></li>
                    <li><a class="dropdown-item" href="pages-blog-fullwidth.html">Blog Full Width</a></li>
                    <li><a class="dropdown-item" href="pages-blog-read.html">Blog Details</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- Menu item 6 Docs-->

        <!-- Menu item 5 Elements-->
        <li class="nav-item dropdown megamenu"> <a class="nav-link dropdown-toggle" href="#" id="elementsMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elements</a>
          <div class="dropdown-menu" aria-labelledby="elementsMenu">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li> <a class="dropdown-item" href="elements-accordion.html">Accordion</a> </li>
                    <li> <a class="dropdown-item" href="elements-action-box.html">Action box</a> </li>
                    <li> <a class="dropdown-item" href="elements-alerts.html">Alerts</a> </li>
                    <li> <a class="dropdown-item" href="elements-animated-headlines.html">Animated Headlines</a> </li>
                    <li> <a class="dropdown-item" href="elements-blockquote.html">Blockquote</a> </li>
                    <li> <a class="dropdown-item" href="elements-buttons.html">Buttons</a> </li>
                  </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li> <a class="dropdown-item" href="elements-clients.html">Clients</a> </li>
                    <li> <a class="dropdown-item" href="elements-counter.html">Counter</a> </li>
                    <li> <a class="dropdown-item" href="elements-divider.html">Divider</a> </li>
                    <li> <a class="dropdown-item" href="elements-feature-box.html">Feature box</a> </li>
                    <li> <a class="dropdown-item" href="elements-forms.html">Forms</a> </li>
                    <li> <a class="dropdown-item" href="elements-grid.html">Grid</a> </li>
                  </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li> <a class="dropdown-item" href="elements-list-styles.html">list styles</a> </li>
                    <li> <a class="dropdown-item" href="elements-map.html">Map</a> </li>
                    <li> <a class="dropdown-item" href="elements-modal.html">Modal</a> </li>
                    <li> <a class="dropdown-item" href="elements-skill.html">skill</a> </li>
                    <li> <a class="dropdown-item" href="elements-social-icon.html">social icon</a> </li>
                    <li> <a class="dropdown-item" href="elements-tab.html">Tab</a> </li>
                  </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <li> <a class="dropdown-item" href="elements-table.html">Table</a> </li>
                    <li> <a class="dropdown-item" href="elements-team.html">Team</a> </li>
                    <li> <a class="dropdown-item" href="elements-typography.html">Typography</a> </li>
                    <li> <a class="dropdown-item" href="elements-video.html">Video</a> </li>
                  </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <ul class="list-unstyled">
                    <% if user_signed_in? %>
                    <li class="nav-item">
                      <%= link_to "Sign out", destroy_user_session_path(), method: :get, class: 'nav-link' %>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <div class="navbar-nav">
                  <!-- extra item Search-->
                  <div class="nav-item search border-0 pl-6 pr-0 px-lg-4" id="search"> <a class="nav-link" data-toggle="collapse"
                      href="#search-open"><i class="fas fa-search"></i></a> </div>
                  <!-- extra item Btn-->
                  <div class="nav-item border-0 d-none d-lg-inline-block align-self-center"> <a href="#"
                      class=" btn btn-sm btn-grad text-white mb-0">Online Booking</a> </div>
                     
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- Menu item 6 Docs-->

        <br>
      </ul>
    </div>
    <!-- Main Menu End -->
    <!-- Header Extras Start-->
    <div class="navbar-nav">
      <!-- extra item Search-->
      <div class="nav-item search border-0 pl-3 pr-0 px-lg-2" id="search"> <a class="nav-link" data-toggle="collapse"
          href="#search-open"><i class="fas fa-search"></i></a> </div>
      <!-- extra item Btn-->
      <div class="nav-item border-0 d-none d-lg-inline-block align-self-center"> <a href="#"
          class=" btn btn-sm btn-grad text-white mb-0">Online Booking</a> </div>
    </div>

    <!-- Header Extras End-->
  </div>
</nav>
<!-- Logo Nav End -->